@model Aplicacion_web_de_certificacion.Models.Usuarios

@{
    ViewData["Title"] = "NuevoUsuario";
}


<div class="panel panel-primary" style="">
    <!--box header-->
    <div class="panel-heading">
        <table align="center"><tr><td><h3>Nuevo Usuario</h3></td></tr></table>
    </div><!--/box header-->


    <div class="row-fluid">
        <div class="span12">
            <form asp-controller="Users" asp-action="NuevoUser" class="form-horizontal" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="box corner-all">
                    <!--box body-->
                    <div class="panel-body">
                        <div class="row-fluid">
                            <!--element-->
                            <div class="row">
                                <div class="col-md-12">

                                    <div class="row-fluid">
                                        <div class="col-md-8">
                                            <div class="editor-label">
                                                <label asp-for="NombreUsuario" class="control-label">Nombre y apellido</label>
                                            </div>
                                            <div class="editor-field">
                                                <input asp-for="NombreUsuario" class="form-control" />
                                                <span asp-validation-for="NombreUsuario" class="text-danger"></span>
                                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                            </div>
                                            <div class="editor-label">
                                                <label asp-for="PasswordUsuario" class="control-label">Contraseña</label>
                                            </div>
                                            <div class="editor-field">
                                                <input asp-for="PasswordUsuario" class="form-control" />
                                                <span asp-validation-for="PasswordUsuario" class="text-danger"></span>
                                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                            </div>
                                            <div class="editor-label">
                                                <label asp-for="EmailUsuario" class="control-label">Correo Electrónico</label>
                                            </div>
                                            <div class="editor-field">
                                                <input asp-for="EmailUsuario" class="form-control" />
                                                <span asp-validation-for="EmailUsuario" class="text-danger"></span>
                                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                            </div>
                                            <div class="editor-label">
                                                <label asp-for="Perfiles_IdPerfiles" class="control-label">Perfil</label>
                                            </div>
                                            <div class="editor-field">
                                                @Html.DropDownList("Perfiles_IdPerfiles", new SelectList(ViewBag.MiListado, "IdPerfiles", "NombrePerfil"), "Selecciona un Perfil", new { @id = "dropdownperfiles", @class = "form-control" })
                                                <span asp-validation-for="Perfiles_IdPerfiles" class="text-danger"></span>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-actions">
                                    <div class="pull-right">
                                        <a asp-action="Index" class="btn btn-primary">Regresar a la lista</a>
                                        <input type="submit" value="Guardar" class="btn btn-primary" />
                                    </div>
                                </div>

                                <!--/element-->
                            </div>
                        </div><!--/box body-->
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
