@model IEnumerable<Aplicacion_web_de_certificacion.Models.Usuarios>

@{
    ViewData["Title"] = "ListarUsers";
}

<div class="panel panel-primary">
    <div class="panel-heading">
        <table align="center"><tr><td><h2>Usuarios</h2></td></tr></table>
    </div>
    <div class="table-responsive ">
        <p class="alertify-button-ok">
            <table align="center"><tr><td align="center"> <a asp-controller="Account" asp-action="RegisterAdmin1" class=""><i class="fas fa-plus-circle fa-3x"></i></a></td></tr><tr><td>Agregar</td></tr></table>
        </p>
        <table id="grid" class="table table-bordered">
            <thead>
                <tr>
                    <th>
                        Editar
                    </th>
                    <th>
                        Nombre de Usuario
                    </th>
                    <th>
                        Email
                    </th>
                    <th>
                        Perfil
                    </th>
          
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td class="success">
                        <form asp-controller="Users" asp-action="ModificarUsuario" class="form-horizontal">
                            <input asp-for="@item.IdUsuarios" name="IdUsuarios" class="form-control" contenteditable="false" type="hidden" />

                            <button type="submit" class="btn btn-mini btn-primary"> Eliminar </button>
                        </form>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NombreUsuario)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EmailUsuario)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NombrePerfil)
                    </td>


                </tr>
                }


            </tbody>
        </table>


    </div>

</div>

@section Scripts {

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

