@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

Bienvenidos a Lenor
Lenor, es un  “Organismo de la Evaluación de la Conformidad”  integrada por Organismo de Certificación, Organismo de Inspección, Laboratorios de Ensayo y Calibraciones.

Misión
Somos un equipo comprometido, motivado y competente que ofrecemos y suministramos todas las actividades de Certificación, Inspección, Ensayo y Calibración que su empresa necesita.

Visión
Siempre adelante en el desarrollo de nuevas soluciones para ser la elección natural del mercado.

Valores
- Adaptabilidad: Una solución para cada necesidad.

- Competitivos: Logramos el objetivo haciendo un uso óptimo de nuestros recursos.

- Proactivos: Nos anticipamos y tenemos la respuesta a cada pregunta.

- Confidencialidad: Aseguramos la reserva de la información de nuestros clientes.

- Imparcialidad: Realizamos nuestras evaluaciones con un criterio objetivo y uniforme.

- Independencia: Realizamos nuestro trabajo sin presiones externas que condicionen nuestra actividad.

- Confiabilidad: Tenemos y mantenemos el respaldo de acreditaciones y reconocimientos nacionales e internacionales con el compromiso de mejorar continuamente la eficacia del sistema de gestión y el compromiso de la dirección del laboratorio con la buena práctica profesional y con la calidad de sus ensayos y calibraciones durante el servicio al cliente.


POLITICA DE SEGURIDAD, SALUD OCUPACIONAL Y MEDIO AMBIENTE
LENOR SRL, consciente de su responsabilidad social, laboral y ambiental como empresa, se compromete como organización a:

Cumplir las leyes y reglamentos vigentes relacionados con el medio ambiente, la Seguridad y salud ocupacional aplicable a nuestra organización, así como las normas, estándares y procedimientos corporativos propios y de nuestros clientes.

Realizar en forma permanente programas educativos de formación, capacitación, entrenamiento y sensibilización para mejorar el nivel de conciencia de nuestro personal respecto de la seguridad, salud y medio ambiente.

Incorporar la variable ambiental así como la seguridad y salud ocupacional como parte integral del proceso del negocio tanto en las labores diarias como en las decisiones comerciales que puedan tomarse.

Prevenir la contaminación ambiental realizando mejoramientos continuos en nuestros procesos y en los mecanismos de administración dentro de nuestras limitaciones tecnológicas y económicas tratando de utilizar eficientemente los recursos disponibles.

Prevenir los riesgos de seguridad y salud de nuestros colaboradores, identificando peligros y evaluando permanentemente los riesgos para asegurar la prevención de lesiones laborales y enfermedades ocupacionales.

Sensibilizar con nuestras acciones orientadas hacia la protección ambiental y la prevención de los riesgos a todas las partes interesadas como proveedores, contratistas, operadores y comunidades vinculadas, colocando esta política a disposición del público y difundiéndola de manera permanente.