@{
    ViewData["Title"] = "Contact";
}
<h2>Contacto</h2>

<b>Dirección:</b> Av. Sta. Rosa 2898, San Joaquín, Región Metropolitana<br />
<b>Horario: </b> Horario de apertura: 08:00<br />
<b>Teléfono:</b> (2) 2635 7100
