@inject SignInManager<ApplicationUser> SignInManager;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Aplicación de Certificación</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" />

    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.11/css/jquery.dataTables.css">



    <link href="~/css/jquery-ui.min.css" rel="stylesheet" />
    <!-- MetisMenu CSS -->
    <link href="~/css/metisMenu/metisMenu.min.css" rel="stylesheet" />
    <!-- Custom CSS -->
    <link href="~/css/sb-admin-2.css" rel="stylesheet" />
    <!-- Morris Charts CSS -->
    <link href="~/css/morrisjs/morris.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <!-- Custom Fonts -->
    <link href="~/css/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>
    <div id="wrapper">
        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <!-- /.navbar-header -->
            <ul class="nav navbar-top-links navbar-right">
                <!-- /.dropdown -->

                @await Html.PartialAsync("_LoginPartial")

                <!-- /.dropdown -->
                <!-- /.dropdown-alerts -->
                <!-- /.dropdown -->

                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->
            @if (SignInManager.IsSignedIn(User))
            {
                <div class="navbar-default sidebar" role="navigation">
                    <div class="sidebar-nav navbar-collapse">
                        <ul class="nav" id="side-menu">

                            @if (User.IsInRole("Admin") || User.IsInRole("JefeOCP") || User.IsInRole("JefeLab"))
                            {
                                <li>
                                    <a asp-area="Entidad" asp-controller="Entidad" asp-action="Index"><i class="fa fa-users fa-fw"></i> Entidades</a>

                                    <!-- /.nav-second-level -->
                                </li>
                                <li>
                                    <a asp-area="ListarUsers" asp-controller="Users" asp-action="ListarUsers"><i class="fa fa-user fa-fw"></i> Usuarios</a>

                                </li>
                                <li>
                                    <a asp-area="ListarUsers" asp-controller="PedidoEnsayo" asp-action="Index"><i class="fa fa-book fa-fw"></i> Pedido De Ensayos</a>

                                </li>
                                <li>
                                    <a asp-area="ListarUsers" asp-controller="Ensayos" asp-action="Index"><i class="fa fa-file-pdf-o fa-fw"></i> Ensayos</a>

                                </li>
                                <li>
                                    <a asp-area="Presupuestos" asp-controller="Presupuesto" asp-action="Index"><i class="fa fa-dollar fa-fw"></i> Presupuestos</a>


                                </li>
                            }

                            @if (User.IsInRole("Comercial"))
                            {

                                <li>
                                    <a asp-area="Presupuestos" asp-controller="Presupuesto" asp-action="Index"><i class="fa fa-dollar fa-fw"></i> Presupuestos</a>


                                </li>
                            }

                            @if (User.IsInRole("OCP"))
                            {

                                <li>
                                    <a asp-area="Entidad" asp-controller="Entidad" asp-action="Index"><i class="fa fa-users fa-fw"></i> Entidades</a>

                                    <!-- /.nav-second-level -->
                                </li>

                                <li>
                                    <a asp-area="ListarUsers" asp-controller="PedidoEnsayo" asp-action="Index"><i class="fa fa-book fa-fw"></i> Pedido De Ensayos</a>

                                </li>
                                <li>
                                    <a asp-area="ListarUsers" asp-controller="Ensayos" asp-action="Index"><i class="fa fa-file-pdf-o fa-fw"></i> Ensayos</a>

                                </li>
                                <li>
                                    <a asp-area="Presupuestos" asp-controller="Presupuesto" asp-action="Index"><i class="fa fa-dollar fa-fw"></i> Presupuestos</a>


                                </li>
                            }

                            @if (User.IsInRole("Tecnico"))
                            {


                                <li>
                                    <a asp-area="ListarUsers" asp-controller="PedidoEnsayo" asp-action="Index"><i class="fa fa-book fa-fw"></i> Pedido De Ensayos</a>

                                </li>
                                <li>
                                    <a asp-area="ListarUsers" asp-controller="Ensayos" asp-action="Index"><i class="fa fa-file-pdf-o fa-fw"></i> Ensayos</a>

                                </li>

                            }

                        </ul>
                    </div>
                    <!-- /.sidebar-collapse -->
                </div>
            }
            else
            {

                <div class="navbar-default sidebar" role="navigation">
                    <div class="sidebar-nav navbar-collapse">
                        <ul class="nav" id="side-menu">


                            <li>
                                <a asp-area="Home" asp-controller="Home" asp-action="Index"><i class="fa fa-users fa-fw"></i> Nosotros</a>

                                <!-- /.nav-second-level -->
                            </li>
                            <li>
                                <a asp-area="Home" asp-controller="Home" asp-action="Contact"><i class="fa fa-user fa-fw"></i> Contactos</a>

                            </li>



                        </ul>
                    </div>
                    <!-- /.sidebar-collapse -->
                </div>
            }
            <!-- /.navbar-static-side -->
        </nav>

        <div id="page-wrapper">
            <!-- /.row -->

            <div class="row">
                @RenderBody()
            </div>
            <hr />
            <footer>
                <p><table align="center"><tr><th align="center">&copy; 2019 - Powered By DarkNess</th></tr><tr><th align="center"><img width="150" height="100" src="~/images/logo.png" />Aqui va tu logo</th></tr></table></p>
            </footer>

        </div>
        <!-- /#page-wrapper -->
    </div>
    <script src="~/js/ScriptDeCotizaciones.js"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/js/JavaScript.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
            asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
            asp-fallback-test="window.jQuery"
            crossorigin="anonymous"
            integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
    </script>
    <script src="~/js/jquery-3.1.1.min.js"></script>
    <script src="~/js/jquery.validate.min.js"></script>
    <script src="~/js/jquery.validate.unobtrusive.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
    <script src="~/js/jquery-ui-1.12.1.min.js"></script>
    @RenderSection("Scripts", required: false)

</body>
</html>
