@model Aplicacion_web_de_certificacion.Models.Productos

@{
    Layout = "~/Views/Shared/_Layout1.cshtml";
    ViewData["Title"] = "EditarProductos";
}



<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<div class="box corner-all">
    <!--box body-->
    <div class="panel-body">
        <div class="row-fluid">
            <!--element-->
            <div class="row">
                <div class="col-md-12">


                    <div class="row">
                        <div class="col-md-5">

                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                            <div class="editor-label">
                                <label asp-for="NombreProducto" class="control-label"></label>
                            </div>
                            <div class="editor-field">
                                <input asp-for="NombreProducto" class="form-control" />
                                <span asp-validation-for="NombreProducto" class="text-danger"></span>
                            </div>

                            <div class="editor-label">
                                <label asp-for="MarcaProducto" class="control-label"></label>
                            </div>
                            <div class="editor-field">
                                <input asp-for="MarcaProducto" class="form-control" />
                                <span asp-validation-for="MarcaProducto" class="text-danger"></span>
                            </div>
                            <div class="editor-label">
                                <label asp-for="ModeloProducto" class="control-label"></label>
                            </div>
                            <div class="editor-field">
                                <input asp-for="ModeloProducto" class="form-control" />
                                <span asp-validation-for="ModeloProducto" class="text-danger"></span>
                            </div>
                            <div class="editor-label">
                                <label asp-for="NombreFabricante" class="control-label">Fabricante</label>
                            </div>
                            <div class="editor-field">
                                <input asp-for="NombreFabricante" class="form-control" />
                                <span asp-validation-for="NombreFabricante" class="text-danger"></span>
                            </div>
                            <div class="editor-label">
                                <label asp-for="NormaProducto" class="control-label"></label>
                            </div>
                            <div class="editor-field">
                                <input asp-for="NormaProducto" class="form-control" />
                                <span asp-validation-for="NormaProducto" class="text-danger"></span>
                            </div>


                        </div>
                        <div class="col-md-1"> 
                            <input asp-for="IdProductos" class="form-control" contenteditable="false" type="hidden" />
                            <input asp-for="presupuestos_IdPresupuestos" class="form-control" contenteditable="false" type="hidden" />
                        </div>
                        <div class="col-md-5">

                            <div class="editor-label">
                                <label asp-for="FamiliaProducto" class="control-label">Familia</label>
                            </div>
                            <div class="editor-field">
                                <input asp-for="FamiliaProducto" class="form-control" />
                                <span asp-validation-for="FamiliaProducto" class="text-danger"></span>
                            </div>
                            <div class="editor-label">
                                <label asp-for="NumeroSerieProducto" class="control-label">Nº Serie</label>
                            </div>
                            <div class="editor-field">
                                <input asp-for="NumeroSerieProducto" class="form-control" />
                                <span asp-validation-for="NumeroSerieProducto" class="text-danger"></span>
                            </div>
                            <div class="editor-label">
                                <label asp-for="Descripcion" class="control-label">Descripción</label>
                            </div>
                            <div class="editor-field">
                                <input asp-for="Descripcion" class="form-control" />
                                <span asp-validation-for="Descripcion" class="text-danger"></span>
                            </div>
                            <div class="editor-label">
                                <label asp-for="DireccionFabricante" class="control-label">Dirección Fabrica</label>
                            </div>
                            <div class="editor-field">
                                <input asp-for="DireccionFabricante" class="form-control" />
                                <span asp-validation-for="DireccionFabricante" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
