@model Aplicacion_web_de_certificacion.Models.Contacto

@{
    Layout = null;
    ViewData["Title"] = "CrearContacto";
}


<div class="box corner-all">
    <!--box body-->
    <div class="panel-body">
        <div class="row-fluid">
            <!--element-->
            <div class="row">
                <div class="col-md-12">


                    <div class="row">
                        <div class="col-md-5">

                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                            <div class="editor-label">
                                <label asp-for="ContactoRepresentanteLegal" class="control-label">Representante Legal</label>
                            </div>
                            <div class="editor-field">
                                <input asp-for="ContactoRepresentanteLegal" class="form-control" />
                                <span asp-validation-for="ContactoRepresentanteLegal" class="text-danger"></span>
                            </div>

                            <div class="editor-label">
                                <label asp-for="ApellidoRepresentante" class="control-label">Apellido Representante</label>
                            </div>
                            <div class="editor-field">
                                <input asp-for="ApellidoRepresentante" class="form-control" />
                                <span asp-validation-for="ApellidoRepresentante" class="text-danger"></span>
                            </div>
                            <div class="editor-label">
                                <label asp-for="TelefonoRepresentante" class="control-label">Teléfono</label>
                            </div>
                            <div class="editor-field">
                                <input asp-for="TelefonoRepresentante" class="form-control" />
                                <span asp-validation-for="TelefonoRepresentante" class="text-danger"></span>
                            </div>

                        </div>
                        <div class="col-md-1">
                            <input asp-for="Entidades_IdEntidades" class="form-control" contenteditable="false" type="hidden" />
                        </div>
                        <div class="col-md-5">

                            <div class="editor-label">
                                <label asp-for="EmailRepresentante" class="control-label">Email</label>
                            </div>
                            <div class="editor-field">
                                <input asp-for="EmailRepresentante" class="form-control" />
                                <span asp-validation-for="EmailRepresentante" class="text-danger"></span>
                            </div>
                            <div class="editor-label">
                                <label asp-for="ServicioTecnico" class="control-label">Servicio Técnico</label>

                            </div>
                            <div class="editor-field">
                                <input asp-for="ServicioTecnico" class="form-control" />
                                <span asp-validation-for="ServicioTecnico" class="text-danger"></span>
                            </div>

                            <div class="editor-label">
                                <label asp-for="Direccion" class="control-label">Dirección</label>
                            </div>
                            <div class="editor-field">
                                <input asp-for="Direccion" class="form-control" />
                                <span asp-validation-for="Direccion" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
