@model Aplicacion_web_de_certificacion.Models.Entidades

@{
    ViewData["Title"] = "GuardarDatos";
}


<div class="panel panel-primary" style="">
    <!--box header-->
    <div class="panel-heading">
        <table align="center"><tr><td><h3>Nueva Entidad</h3></td></tr></table>
    </div><!--/box header-->


    <div class="row-fluid">
        <div class="span12">
            <form action="SaveRecord" class="form-horizontal" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="box corner-all">
                    <!--box body-->
                    <div class="panel-body">
                        <div class="row-fluid">
                            <!--element-->
                            <div class="row">
                                <div class="col-md-12">

                                    <div class="row-fluid">
                                        <div class="col-md-4">
                                            <div class="editor-label">
                                                <label asp-for="RazonSocial" class="control-label">Razón Social</label>
                                            </div>
                                            <div class="editor-field">
                                                <input asp-for="RazonSocial" class="form-control" />
                                                <span asp-validation-for="RazonSocial" class="text-danger"></span>
                                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                            </div>
                                            <div class="editor-label">
                                                <label asp-for="RutEntidad" class="control-label">Rut Entidad</label>
                                            </div>
                                            <div class="editor-field">
                                                <input asp-for="RutEntidad" class="form-control" />
                                                <span asp-validation-for="RutEntidad" class="text-danger"></span>
                                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                            </div>
                                            <div class="editor-label">
                                                <label asp-for="RepresentanteLegal" class="control-label">Representante Legal</label>
                                            </div>
                                            <div class="editor-field">
                                                <input asp-for="RepresentanteLegal" class="form-control" />
                                                <span asp-validation-for="RepresentanteLegal" class="text-danger"></span>
                                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                            </div>
                                            <div class="editor-label">
                                                <label asp-for="RutRepresentanteLegal" class="control-label">Rut Representante Legal</label>
                                            </div>
                                            <div class="editor-field">
                                                <input asp-for="RutRepresentanteLegal" class="form-control" />
                                                <span asp-validation-for="RutRepresentanteLegal" class="text-danger"></span>
                                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                            </div>

                                        </div>




                                        <div class="col-md-4">
                                            <div class="editor-label">
                                                <label asp-for="TipoEntidad" class="control-label">Tipo Entidad</label>
                                            </div>
                                            <div class="editor-field">
                                                <input asp-for="TipoEntidad" class="form-control" />
                                                <span asp-validation-for="TipoEntidad" class="text-danger"></span>
                                            </div>
                                            <div class="editor-field">
                                                <label asp-for="CondicionVenta" class="control-label">Condición Venta</label>
                                            </div>
                                            <div class="editor-field">
                                                <input asp-for="CondicionVenta" class="form-control" />
                                                <span asp-validation-for="CondicionVenta" class="text-danger"></span>
                                            </div>
                                            <div class="editor-field">
                                                <label asp-for="SegmentoVenta" class="control-label">Segmento Venta</label>
                                            </div>
                                            <div class="editor-field">
                                                <input asp-for="SegmentoVenta" class="form-control" />
                                                <span asp-validation-for="SegmentoVenta" class="text-danger"></span>
                                            </div>
                                            <div class="editor-label">
                                                <label asp-for="InicioActividad" class="control-label">Inicio Actividad</label>
                                            </div>
                                            <div class="editor-field">
                                                <input asp-for="InicioActividad" class="form-control" />
                                                <span asp-validation-for="InicioActividad" class="text-danger"></span>
                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="editor-field">
                                                <label asp-for="Pais" class="control-label">País</label>
                                            </div>
                                            <div class="editor-field">
                                                <input asp-for="Pais" class="form-control" />
                                                <span asp-validation-for="Pais" class="text-danger"></span>
                                            </div>
                                            <div class="editor-field">
                                                <label asp-for="Ciudad" class="control-label"></label>
                                            </div>
                                            <div class="editor-field">
                                                <input asp-for="Ciudad" class="form-control" />
                                                <span asp-validation-for="Ciudad" class="text-danger"></span>
                                            </div>
                                            <div class="editor-field">
                                                <label asp-for="Localidad" class="control-label"></label>
                                            </div>
                                            <div class="editor-field">
                                                <input asp-for="Localidad" class="form-control" />
                                                <span asp-validation-for="Localidad" class="text-danger"></span>
                                            </div>
                                            <div class="editor-field">
                                                <label asp-for="Domicilio" class="control-label"></label>
                                            </div>
                                            <div class="editor-field">
                                                <input asp-for="Domicilio" class="form-control" />
                                                <span asp-validation-for="Domicilio" class="text-danger"></span>
                                            </div>
                                        </div>
                                  </div>
                            </div>
                            <div class="form-actions">
                                <div class="pull-right">
                                    <a asp-action="Index" class="btn btn-primary">Volver a la lista</a>
                                    <input type="submit" value="Guardar" class="btn btn-primary" />
                                </div>
                            </div>

                            <!--/element-->
                        </div>
                    </div><!--/box body-->
                </div>
                    </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
