@model Aplicacion_web_de_certificacion.Models.Cotizaciones

@{
    Layout = "~/Views/Shared/_Layout1.cshtml";
    ViewData["Title"] = "EditarCotizacion";
}


<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<div class="box corner-all">
    <!--box body-->
    <div class="panel-body">
        <div class="row-fluid">
            <!--element-->
            <div class="row">
                <div class="col-md-12">


                    <div class="row">
                        <div class="col-md-5">

                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                            <div class="editor-label">
                                <label asp-for="NombreCotizacion" class="control-label"></label>
                            </div>
                            <div class="editor-field">
                                @Html.DropDownList("VendedorAsignadox", new SelectList(ViewBag.MiListado, "PrecioUnitario", "NombreLista"), new { @id = "iddropdownlist", @class = "form-control" })
                                <input asp-for="NombreCotizacion" class="form-control" id="NombreCotizacionx" contenteditable="false" type="hidden" />
                                <span asp-validation-for="NombreCotizacion" class="text-danger"></span>
                            </div>

                            <div class="editor-label">
                                <label asp-for="PrecioUnitario" class="control-label"></label>
                            </div>
                            <div class="editor-field">
                                <input asp-for="PrecioUnitario" class="form-control" id="precioUnitario" name="preciounitario" contenteditable="false" />
                                <span asp-validation-for="PrecioUnitario" class="text-danger"></span>
                            </div>

                        </div>
                        <div class="col-md-1">
                            <input asp-for="IdCotizacion" class="form-control" contenteditable="false" type="hidden" />
                            <input asp-for="productos_IdProductos" class="form-control" contenteditable="false" type="hidden" />
                        </div>
                        <div class="col-md-5">

                            <div class="editor-label">
                                <label asp-for="CantidadProductos" class="control-label"></label>
                            </div>
                            <div class="editor-field">
                                <input asp-for="CantidadProductos" class="form-control" id="cantidadProductos" />
                                <span asp-validation-for="CantidadProductos" class="text-danger"></span>
                            </div>
                            <div class="editor-label">
                                <label asp-for="SubTotal" class="control-label"></label>
                            </div>
                            <div class="editor-field">
                                <input asp-for="SubTotal" class="form-control" id="subtotal"  onKeyPress="javascript: return false;" onPaste="javascript: return false;" contenteditable="false" />
                                <span asp-validation-for="SubTotal" class="text-danger"></span>
                            </div>

                            <div class="editor-label">
                                <label asp-for="TotalPesoChile" class="control-label"></label>
                            </div>
                            <div class="editor-field">
                                <input asp-for="TotalPesoChile" class="form-control" id="totalChile" onKeyPress="javascript: return false;" onPaste="javascript: return false;" contenteditable="false" />
                                <span asp-validation-for="TotalPesoChile" class="text-danger"></span>
                            </div>


                            <div class="editor-label">
                                <label asp-for="IVA" class="control-label"></label>
                            </div>
                            <div class="editor-field">
                                <input asp-for="IVA" class="form-control" id="totalChile" contenteditable="false" />
                                <span asp-validation-for="IVA" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
<script type="text/javascript">
    $('#ModificarCotizacionx').click(function (eve) {
        $('#precioUnitario').val($('#iddropdownlist option:selected').val());
        $('#NombreCotizacionx').val($('#iddropdownlist option:selected').text());
        var cantidadProductos = $("#cantidadProductos").val();
        var precioUnitario = $("#precioUnitario").val();
        var subTotal = (cantidadProductos * precioUnitario);
        var totalChilensi = (subTotal * 27.186);
        $("#subtotal").val(subTotal);
        $("#totalChile").val(totalChilensi);
    });
</script>

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}