
.modal{
    top: -3vh !important;
	width: 100% !important;
}
.modalDialog {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}
.modalDialog:target {
	opacity:1;
	pointer-events: auto;
}
.modalDialog > div {
    width: 40px;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    background: #fff;
    background: -moz-linear-gradient(#fff, #999);
    background: -webkit-linear-gradient(#fff, #999);
    background: -o-linear-gradient(#fff, #999);
  -webkit-transition: opacity 400ms ease-in;
-moz-transition: opacity 400ms ease-in;
transition: opacity 400ms ease-in;
}

.close:hover { background: #00d9ff !important; }


.close {
    background: red !important;
    color: white;
    line-height: 25px;
    position: absolute;
    right: -5px;
    text-align: center;
    top: -7px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 1px 1px 4px black;
    -webkit-box-shadow: 1px 1px 4px black;
    box-shadow: 1px 1px 4px black;
      z-index: 16777272 !important;
}


.galeria{
    font-family: 'open sans';
}

.galeria h1{
    text-align: center;
    margin:20px 0 15px 0;
    font-weight: 300;
}


.poemas{
    font-family: 'open sans';
    text-align: justify;
    padding: 25px;
    margin-top:0px !important;

}

.linea{
    border-top: 5px solid #0077C0;
    margin-bottom: 40px;
}

.contenedor-imagenes{
    display:flex;
    width: 80%;
        margin: auto;
    justify-content: space-around;
      border-radius:3px;
}

.contenedor-imagenes .imagen{
    width: 32%;
    position: relative;
    height:270px;
    margin-bottom:5px;
     flex-wrap: wrap;
   
}
.contenedor-autor{
    display:flex;
    width: 80%;
        margin: auto;
    justify-content: space-around;
      border-radius:3px;
}

.contenedor-autor .imagen{
    width: 32%;
    position: relative;
   height:50px;
    margin-bottom:5px;
   
}
.imagen img{
    width: 80%;
    height:80%; 
     margin-left: auto;
    margin-right: auto;
    display: block;
}

.slider-control-btn {
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

#prev {
  left: 20px;
}

#next {
  right: 20px;
}
.slider{
    width:100%;
    margin: auto;
    overflow:hidden;
}
.slider ul{
    display:flex;
    width:400%;
    padding:0;

    animation: cambio 20s infinite;
}
h2{
	margin-top:0px !important;
	text-align: center;
}
.slider li{
    list-style: none;
    width:100%;
}
.slider img{
    width:100%;
}

.slidesjs-pagination li a {
    display:block;
    padding:10px 20px;
    color:#fff;
    text-decoration: none;
}

.slidesjs-pagination li a:hover{
    background:#000;
}
.slides .active{
    background:#000;
}
.slidesjs-navigation{
    background:#000;
    color:#fff;
    text-decoration:none;
    display:inline-block;
    padding:10px 20px;
    float:right;
}
@keyframes cambio {
    0% {margin-left: 0;}
    20% {margin-left: 0;}

    25% {margin-left: -100%;}
    45% {margin-left: -100%;}

    50% {margin-left: -200%;}
    70% {margin-left: -100%;}

    75% {margin-left: -300%;}
    100% {margin-left: -300%;}
}

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.textos{
    padding:300px;
    color:#fff;
    text-align: center;
}
.contenido-modal{
    position: relative;
    background-color: #fefefe;
    margin: auto;
    width:100%;
    padding-top: 0px !important;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .4);
    animation-name: modal;
    animation-duration: 1s;
}

.contenido-modal-biografia{
        position: relative;
    background-color: #fefefe;
    margin: auto;
    width:700px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .4);
    animation-name: modal;
    animation-duration: 1s;
}


@keyframes modal{
    from{top:-330px; opacity:0;}
    to{top:0; opacity:1;}
}

.texto-justificado{
  text-align: justify;
  text-justify: inter-word;
}

.fotoBiografia{
width: 60%;
float: left;  
padding-right: 5px;
}
.modal-header, .footer{
    background: #34495e;
    color:#f2f2f2;
}

p{
    text-align: justify;
}

.modal-body{
    
}

.parrafoAutor{
text-align: center; color: #000000 !important; font-weight: bold;
}
.modal {
     position: fixed;
     top: 0px;
overflow-y: auto;
  background: rgba(0,0,0,0.7);
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 16777270 !important;
}
.imagen:hover .overlay{
    height:100%;
    cursor: pointer;
}

@media screen and (max-width:1600px){
    .contenedor-imagenes{
        width: 90%;
         flex-wrap: wrap;
    }

     .contenedor-imagenes .imagen{
        width: 25%;
            flex-wrap: wrap;
    }
 .contenido-modal{
        width: 85%;
    }
    .contenido-modal-biografia{
        width: 100%;
    }

    .modal{
    top: -2vh !important;
}
.fotoBiografia{
width: 60%;
}
.texto-justificado{
font-size: 26px;
}

}

@media screen and (max-width:1440px){
    .contenedor-imagenes{
        width: 90%;
 flex-wrap: wrap;
    }

     .contenedor-imagenes .imagen{
        width: 25%;
            flex-wrap: wrap;
    }

        .contenido-modal{
        width: 68%;
    }
    .contenido-modal-biografia{
        width: 100%;
    }

    .modal{
    top: -4vh !important;
}

.fotoBiografia{
width: 60%;
}
.texto-justificado{
font-size: 20px;
}
        
}

@media screen and (max-width:1000px){
    .contenedor-imagenes{
        width: 90%;
 flex-wrap: wrap;
    }

     .contenedor-imagenes .imagen{
        width: 30%;
            flex-wrap: wrap;
    }

        .contenido-modal{
        width: 60%;
    }
    .contenido-modal-biografia{
        width: 60%;
    }

    .modal{
    top: -4vh !important;
}
        
}

/* media que regula el contenedor para 2 imagenes */
@media screen and (max-width:800px){
    .contenedor-imagenes{
        width: 90%;
            flex-wrap: wrap;
    }
    .contenedor-imagenes .imagen{
        width: 48%;
            flex-wrap: wrap;
    }

        .contenido-modal{
        width: 50%;
    }
    .contenido-modal-biografia{
        width: 63%;
    }

    .modal{
    top: +1vh !important;
}
        
}
/* media que regula el contenedor para 1 imagenes */

@media screen and (max-width:650px){
    h1{
        font-size:22px;
    }
    .contenedor-imagenes{
        width: 88%;
            flex-wrap: wrap;
    }
    .contenedor-imagenes .imagen{
        width: 75%;
            flex-wrap: wrap;
    }

        .contenido-modal{
        width: 30%;
    }
    .contenido-modal-biografia{
        width: 100%;
    }

    .modal{
    top: +1vh !important;
}
}


@media screen and (max-width:500px){
    h1{
        font-size:22px;
    }
    .contenedor-imagenes{
        width: 98%;
            flex-wrap: wrap;
    }
    .contenedor-imagenes .imagen{
        width: 80%;
            flex-wrap: wrap;
    }
}

@media screen and (max-width:550px){
    h1{
        font-size:22px;
    }
    .contenedor-imagenes{
        width: 98%;
            flex-wrap: wrap;
    }
    .contenedor-imagenes .imagen{
        width: 80%;
            flex-wrap: wrap;
    }

        .contenido-modal{
        width: 100%;
    }
    .contenido-modal-biografia{
        width: 100%;
    }
}

@media screen and (max-width:250px){
    h1{
        font-size:22px;
    }
    .contenedor-imagenes{
        width: 88%;
            flex-wrap: wrap;
    }
    .contenedor-imagenes .imagen{
        width: 75%;
            flex-wrap: wrap;
    }

        .contenido-modal{
        width: 50%;
    }
    .contenido-modal-biografia{
        width: 50%;
    }

    .modal{
    top: +1vh !important;
}
}
.fotoBiografia{
width: 55%;
}
.texto-justificado{
font-size: 16px;
}
}

.fullscreen-modal .modal-dialog {
  margin: 0;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
}
@media (min-width: 768px) {
  .fullscreen-modal .modal-dialog {
    width: 40px;
  }
}
@media (min-width: 992px) {
  .fullscreen-modal .modal-dialog {
    width: 40px;
  }
}
@media (min-width: 1200px) {
  .fullscreen-modal .modal-dialog {
     width: 40px;
  }
}


#contenedor-frase1{
background-color:#f2e5dd;
padding-top:80px; 
padding-bottom:20px !important; 
}
